.navbar {
  background-color: white !important;
  min-height: 60px;
  border-radius: 15px;
  /* border-bottom: 1px solid #0001; */
  box-shadow: 0 2px 5px #0002;
  margin: 10px;
}

.masterContainer {
  height: 100% !important;
  background-color: transparent;
  color: black;
  padding: 5%;
}
.clienteContainer {
  color: black;
}

.conductorContainer {
  color: black;
}

.operadorContainer {
}

.masterContainer {
}

.section {
  background-color: transparent !important;
}

#fp-nav ul li a span {
  background: #000 !important;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
}

.logoContainer > img {
  height: 25%;
  width: 25%;
}

.navbar-brand {
  height: 200%;
}

#navLogoDiv {
  height: 100%;
  background-color: #ff9800;
  border-radius: 100%;
  /*box-shadow: 0 2px 5px #0004;*/
  padding: 10px;
}

#navLogo {
  height: 50px;
  width: 50px;
  object-fit: contain;
  filter: invert(1);
}

.nav-link {
  color: black !important;
  transition: 250ms;
}

.navLinkActive,
.nav-link:hover {
  color: #ff9800 !important;
  /*font-weight: bold;*/
}

.content {
  padding-top: 100px !important;
  padding: 25px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://www.lifewire.com/thmb/Pfr8XIxLR_G8ZbonSRefcw1jzm8=/4948x2480/filters:fill(auto,1)/mapsdirectionspart1-56cd4d395f9b5879cc5bd51a.png");
  background-size: contain;
}

.centerText {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
